@import './styles/fira-sans.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/********************** FUENTE PRINCIPAL ********************/
body, html, * {
  font-family: "Fira Sans";
}

/********************** AJUSTES ROBOTITO ********************/
.menvirLogin {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: -15rem;
   max-width: none !important;
   width: 700px;
   height: auto;
}
.menvirLanding {
   height: auto;
   width: 40rem;
}
