@tailwind base;
@tailwind components;
@tailwind utilities;

.menvirLogin {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: -15rem;
   max-width: none !important;
   width: 700px;
   height: auto;
}
